.text-animate {
    display: inline-flex; //change to put on same line
    opacity: 0;
    animation: bounceIn 1s 1s;
    animation-fill-mode: forwards;
    min-width: 0.625rem; 
}
.text-animate-hover {
        min-width: 0.625rem;
        display: inline-flex;
        animation-fill-mode: both;

        &:hover {
            animation: rubberBand 1s;
            color: cyan;
        }
    }

@for $i from 1 through 45 {
    .text-animate._#{$i} {
        animation-delay: #{$i / 10}s;
    }
}
